@page
@using WebPages3Tutorial
@namespace WebPages3Tutorial.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model AddNumbersModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>HTML Form</title>
</head>
<body>
		
<p>Enter two whole numbers and then click <strong>Add</strong>.</p>
<form method="post">
    <p>
        <label for="text1">First Number:</label>
        <input type="text" name="FirstNumber" />
    </p>
    <p>
        <label for="text2">Second Number:</label>
        <input type="text" name="text2" />
    </p>
    <p><input type="submit" value="Add" /></p>
</form>

<p>@Model.TotalMessage</p>

<a href="Index">Home</a>

</body>
</html>
