@page
@using WebPages3Tutorial.Pages
@model AddNumbersModel
@{
    ViewData["Title"] = "Home page";
    var totalMessage = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>HTML Form</title>
</head>
<body>
		
<p>Enter two whole numbers and then click <strong>Add</strong>.</p>
<form action="" method="post">
    <p>
        <label for="text1">First Number:</label>
        <input type="text" name="text1" />
    </p>
    <p>
        <label for="text2">Second Number:</label>
        <input type="text" name="text2" />
    </p>
    <p><input type="submit" value="Add" /></p>
</form>

<p>@Model.TotalMessage</p>

<a href="Index">Home</a>

</body>
</html>
