@page

<h1>Razor Pages Tutorial</h1>

<ol>
    <li><a href="atcharacter">You add code to a page using the &#64 character</a></li>
    <li><a href="codeblocks">Enclose code blocks in braces</a></li>
</ol>
