@page

<h1>Razor Pages Tutorial</h1>

<ol>
    <li><a href="AtCharacter">You add code to a page using the &#64 character</a></li>
    <li><a href="CodeBlocks">Enclose code blocks in braces</a></li>
	<li><a href="AddNumbers">Use code-behind with an HTML form</a></li>
</ol>
