@page

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Razor Pages Tutorial</title>
</head>
<body>
		
<h1>Razor Pages Tutorial</h1>
Adapted from a tutorial for Web Pages 3: 
		<a href="https://docs.microsoft.com/en-us/aspnet/web-pages/overview/getting-started/introducing-razor-syntax-c" target="_blank">
		Introduction to ASP.NET Web Programming Using the Razor Syntax (C#)</a>

<ol>
    <li><a href="AtCharacter">You add code to a page using the &#64 character</a></li>
    <li><a href="CodeBlocks">Enclose code blocks in braces</a></li>
	<li><a href="EndStatement">End code statements with a semicolon</a>
	<li><a href="AddNumbers">Use code-behind with an HTML form</a><br />
    <a href="https://www.mikesdotnetting.com/Article/308/razor-pages-understanding-handler-methods" target="_blank">
        More on the code-behind and handler methods</a>
    </li>
</ol>
		
</body>
</html>
